/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&display=swap');

button, summary {
  cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* startje */
  --titelfont: 'Dosis', sans-serif;
  --tekstfont: 'Montserrat', sans-serif;
  --geel: #FFD900;
  --zwart: #000;
  --wit: white;
  --roze: pink;
  --rood: red;
}

:focus {
    outline: 0.2em solid var(--roze);   }

body header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  margin: 1;
  top: 0;
  background-color: white;
  height: 4em;
  z-index: 55;
}

header nav {
  background-color: white;
  text-align: center;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  display: none;
  padding-top: 16em;
}

header button:nth-of-type(1) {
  right: 0;
  background-color: var(--wit);
  border: none;
  z-index: 55;
}

/* voor de js */
nav.toonMenu {
  display: unset;
}

header>button img:last-of-type {
  display: none;
}

button.swapImg img:last-of-type {
  display: unset;
}

button.swapImg img:first-of-type {
  display: none;
}

/* de normale css weer */
header img {
  height: 4em;
  width: auto;
  padding-left: 1em;
  z-index: 55;
}
header a {
  text-decoration: none;
  list-style: none;
}
header nav ul {
  margin-top: 40em;
  align-self: center;
  margin: 0 auto;
  top: auto;
  left: 0;
  text-align: center;
}

header nav ul li {
  list-style-type: none;
  align-items: center;
  top: auto;
  margin-right: 0;
  margin-bottom: 1.5em;
}

header nav ul li a {
  font-family: var(--titelfont), sans-serif;
  color: var(--zwart);
  text-transform: uppercase;
  font-size: 1.25em;
  font-weight: 300;
  line-height: normal;
  position: relative;
}

header nav li:nth-of-type(6) a {
  background-color: var(--geel);
  padding: 0.2em;
}



header img:first-of-type {
  margin-top: 1.5em;
}

header button img:first-of-type {
  width: 4.5em;
  height: auto;
  padding: 0;
  margin-top: 0;
}

header button img:nth-of-type(2) {
  width: 4.5em;
  height: auto;
  padding: 0;
  margin: 0;
}

p {
  color: var(--tekstfont);
  font-family: var(--tekstfont), sans-serif;
  font-weight: 250;
  padding: 0 1em;
  font-size: 1em;
  text-align: center;
  line-height: 1.5em;
  margin-left: 3em;
  margin-right: 3em;
}

main > section:not(:nth-of-type(1)),
main > article {
  max-width:60em;
  margin:1em auto 1em auto;
}

main section{
  margin: 1em;
}

main article{
  margin-top: 1em;
}

main img {
  width: 100%;
  height: auto;
  padding: 1em;
  padding-top: 2em;
}

article h2 {
  background-color: white;
  font-size: clamp(1em, 3vw, 1.7em);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  font-weight: 500;
  font-family: var(--titelfont), sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 1em;
}

main section h2 {
  background-color: white;
  font-size: clamp(1em, 3vw, 1.7em);
  margin-top: 0.2em;
  font-weight: 500;
  font-family: var(--titelfont), sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 1em;
}

main section h3 {
  font-size: clamp(2em, 3vw, 1.7em);
  font-weight: 500;
  font-family: var(--titelfont), sans-serif;
  text-align: center;
}

main h4{
  font-weight: 500;
  font-family: var(--titelfont), sans-serif;
  text-align: center;
  font-size: 2em;
}

main section:nth-of-type(2) p {
  border-top: solid;
  border-color: var(--zwart);
  border-width: 0.1em;
  border: 75%;
  padding-top: 1em;
  padding-bottom: 1.5em;
}

main button {
  color: var(--tekstfont);
  background-color: var(--color-background);
  font-family: var(--tekstfont), sans-serif;
  font-weight: 250;
  line-height: 1.5em;
  padding: 0.2em 0.4em;
  font-size: 1em;
  margin-top: 1em;
  border: 1px solid var(--zwart);
}

button:hover {
      background-color:var(--roze);
      transition: 0.7s;
  }

li:hover {
        background-color:var(--roze);
        transition: 0.3s;
    }

input{
    border: 0.1em solid var(--zwart);
  padding: 1em;
}

::placeholder {
color: var(--zwart);
}


main section:first-of-type {
  position: relative;
  z-index: -1;
  height: 33em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section:first-of-type h1 {
  position: absolute;
  bottom: 0;
  text-align: center;
  margin: 0;
  min-width: 40%;
  background-color: white;
  font-size: clamp(2.5em, 6vw, 3.5em);
  padding: 0.2em;
  max-width: 6em;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  line-height: 1em;
  font-family: var(--titelfont), sans-serif;
  text-transform: uppercase;
}

main section:nth-of-type(3) {
  display: grid;
  padding-top: 1em;
  padding-bottom: 1em;
}

main section:nth-of-type(3) div {
  display: grid;
  background-color: white;
  text-align: center;
  padding: 20%;
  justify-items: center;
}

main article p {
  border-top: solid;
  border-color: var(--zwart);
  border-width: 0.1em;
  ;
  border: 75%;
  padding-top: 1em;
}

main a {
  font-family: var(--tekstfont), sans-serif;
  color: var(--zwart);
  font-size: 1em;
  font-weight: 100;
  text-decoration: none;
  letter-spacing: 0.1em;
}

footer{
  width: 100%;
  display: grid;
  background-color: var(--geel);
  padding-top: 1em;
}


footer div {
  display: grid;
  align-items: center;
  padding-left: 1em;
  max-width: 40em;
}

footer h3{
  color: var(--tekstfont);
    font-family: var(--tekstfont), sans-serif;
    font-weight: 250;
  padding-bottom: 0.5em;
  line-height: 1.5;
  margin-right: 3.6em;
min-width: 8em;
}

footer section{
  padding-bottom: 1em;
  padding-top: 1em;

}
footer p {
  text-align: left;
  margin: 0;
  border-bottom: solid;
  border-color: var(--zwart);
  border-width: 0.1em;
  padding: 1em 0 1em 0;
}

footer > img{
height: 6em;
width: auto;
padding-left: 1em;
padding-top: 0.3em;
margin-top: 0;
}

footer section img{
  height: 1.8em;
  width: auto;
}

footer section li:nth-of-type(1){
  margin-right: 1.5em;
}
footer section li:nth-of-type(2){
  margin-right: 1.5em;
}

footer input{
  width: 15em;
  background-color: var(--geel);
}

footer section:nth-of-type(1){
  display: flex;
  flex-wrap: wrap;
  border-bottom: solid;
  border-color: var(--zwart);
  border-width: 0.1em;
  align-items: center;
}

footer section:nth-of-type(2){
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3em;
  }

footer form {
  display: flex;
  z-index: 10;
  padding:0;
}

footer button {
  color: var(--geel);
  background-color: var(--zwart);
  font-family: var(--tekstfont), sans-serif;
  font-weight: 100;
  line-height: 1.5em;
  padding: 0.6em;
  font-size: 1em;
  border: none;
  min-width: 8em;
}

footer section:nth-of-type(2) button{
margin-right:22.6em;
margin-bottom: 1.5em;
}

footer ul {
  display: flex;
  margin-left: 0;
}

footer ul li {
  list-style-type: none;
}

@media (min-width: 50em) {
  header button {
    display: none;
  }

  header nav {
    display: block;
    background-color: unset;
    position: static;
    padding: 0;
  }

  header nav ul {
    display: flex;
    padding: 1.5em;
  }

  header nav ul li {
    display: relative;
    font-size: 0.9em;
    margin-left: 0.7em;
    margin-bottom: 0;
  }

  footer {
    grid-template-columns: 30% 1fr;
  }

  footer {
    padding-right: 3em;
  }

main form {
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;

}
