/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing: border-box;
}

button, summary {
  cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* startje */
  --titelfont: garage-gothic, sans-serif;
  --tekstfont: Montserrat, sans-serif;
  --geel: #FFD900;
}

body header {
  /* JOUW CODE HIER - stap 3 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  margin: 1;
  top: 0;
  background-color: white;
  height: 4em;
}

header button:nth-of-type(1){
  z-index: 2;
  right: 0;
background-color: white;
border: none;
}


header nav {
  position: absolute;
background-color: white;
padding: 10em;
right: 0;
top: 0;
left: 0;
bottom: 0;
position: fixed;
display: none;
}

nav.toonMenu {
  display:unset;
}

header nav ul li{
      list-style-type: none;
      align-items: center;
      margin-right: 0;
    margin-bottom: 1em;
}

header nav ul li a {
  font-family: garage-gothic, sans-serif;
      color: #000;
      text-transform: uppercase;
      font-size: 1.5em;
      line-height: normal;
      position: relative;
}

header nav li:nth-of-type(6){
  background-color: #FFD900;
}

header img {
  height: 9em;
  width: auto;
  padding-left: 1em;
  padding-top: 1em;
  z-index: 2;
}

header img:nth-of-type(2){
  height: 5em;
  margin-right: 2em;
}



header a {
  text-decoration: none;
  list-style: none;
}

/****************/
/* JOUW STYLING */
/****************/
img {
width: 110%;
  height: auto;
  padding-top: 1em;
  padding-bottom: 1em;
}

/* jouw code main even standaard teks van main en footer: is de opmaak*/
main {
  color: var(--tekstfont);
  background-color: var(--color-background);
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: .019em;
}

main section img:nth-of-type(1){
  max-height: 30em;
  width: 100%;
object-fit: cover;


  f
}

section {
  padding-top: 1em;
  padding-bottom: 1em;
}

p {
  text-align: center;
  line-height: 1.5em;
}
h1 h2 h3 h4 {
  font-family: var(--titelfont);
  font-weight: 200px;
  text-transform: none;
  line-height: 200px;
}

main section:nth-of-type(4)  {
  background-color: red;
  width: 100%;
  /*z-index: 0;*/
}

main section:nth-of-type(4) p {
  text-align: center;
  color: white;
}

main section:nth-of-type(4) h2 {
  text-align: center;
  color: white;
}

main section:nth-of-type(4) h3 {
  text-align: center;
  color: white;
}





main section:nth-of-type(4) img {
  position: absolute;
   z-index: -1;




}
footer {
  /* display: flex;
  justify-content: space-between;*/
  align-items: center;
  width: 100%;
  background-color: var(--geel);
}

footer ul {
  display: flex;


}

footer ul li
{ list-style-type: none;
}
