*, *::after, *::before {
  box-sizing: border-box;
}

button, summary {
  cursor: pointer;}



button {

        background: none;
      border: 1px solid #000;
      color: #000;
      padding: 4px 10px;
    margin: 0;
  border-radius: 0;

}

button:first-of-type{
  background-color: #ffd900;
color: #000;
}
